<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">

          <div class="card-header card-header-primary card-header-icon d-flex justify-content-between">
            <div class="w-100">
              <div class="card-icon">
                <i class="material-icons">bookmark_add</i> </div>
              <h4 class="card-title">Gestión de Reservas de Material</h4>
            </div>
            <div class="mt-2 d-flex">
              <button mat-raised-button mat-min-fab class="btn btn-primary btn-round btn-fab mr-2"
                data-toggle="modal" data-target="#newReservationModal" title="Crear Nueva Reserva">
                <i class="material-icons material-icons">add</i>
              </button>
            </div>
          </div>

          <div class="card-body">
            <div class="toolbar">
              <h5 class="text-info">Lista de Reservas Activas y Pendientes</h5>
            </div>
            <div class="material-datatables">
              <table id="datatablesReservar" class="table table-striped table-no-bordered table-hover"
                cellspacing="0" width="100%" style="width:100%">
                <thead>
                  <tr>
                    <th *ngFor="let header of dataTable.headerRow">{{ header }}</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th *ngFor="let footer of dataTable.footerRow">{{ footer }}</th>
                  </tr>
                </tfoot>
                <tbody>
                  </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="processModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" *ngIf="selectedProcessForm">
      <div class="modal-header">
        <h4 class="modal-title">
          Procesar Reserva #{{ selectedProcessForm.reserva.idReserva }}
        </h4>
        <button mat-button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="material-icons">clear</i>
        </button>
      </div>

      <div class="modal-body">
        <form class="form-horizontal">

          <h5 class="text-primary mb-3">Detalles de la Solicitud</h5>

          <div class="row">
            <label class="col-sm-4 col-form-label">Título / Solicitante</label>
            <div class="col-sm-8">
              <mat-form-field class="example-full-width">
                <input matInput type="text"
                  [value]="selectedProcessForm.reserva.titulo + ' | Solicitante: ' + selectedProcessForm.reserva.solicitante" readonly>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <label class="col-sm-4 col-form-label">Fecha de Solicitud</label>
            <div class="col-sm-8">
              <mat-form-field class="example-full-width">
                <input matInput [value]="selectedProcessForm.reserva.fechaReserva" readonly>
              </mat-form-field>
            </div>
          </div>
          
          <hr class="my-4">

          <h5 class="text-warning mb-3">Acción a Realizar</h5>
          
          <div class="row">
            <label class="col-sm-4 col-form-label">Fecha de Proceso</label>
            <div class="col-sm-8">
              <mat-form-field class="example-full-width">
                <input matInput [value]="selectedProcessForm.fechaProceso" readonly>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <label class="col-sm-4 col-form-label">Seleccione la Acción</label>
            <div class="col-sm-8 mt-2">
              <mat-radio-group [(ngModel)]="selectedProcessForm.accion" name="accionReserva">
                <mat-radio-button value="Alistar Ejemplar" class="mr-4">Alistar Ejemplar (Pasa a estado ACTIVA)</mat-radio-button>
                <br>
                <mat-radio-button value="Cancelar Reserva">Cancelar Reserva (Baja la solicitud)</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          
          <div class="row mt-4">
            <label class="col-sm-4 col-form-label">Observaciones</label>
            <div class="col-sm-8">
              <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Notas sobre el proceso de activación o razón de cancelación."
                  [(ngModel)]="selectedProcessForm.observaciones" name="processObs"></textarea>
              </mat-form-field>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button mat-raised-button type="button" class="btn btn-success btn-link" (click)="procesarReserva()">
          <i class="material-icons">save</i> Guardar Proceso
        </button>
        <button mat-raised-button type="button" class="btn btn-danger btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="newReservationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          Crear Nueva Reserva
        </h4>
        <button mat-button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="material-icons">clear</i>
        </button>
      </div>
      <div class="modal-body">
        <h5 class="text-info">Buscar Material y Solicitante</h5>
        <form class="form-horizontal">
            <div class="row">
                <label class="col-sm-4 col-form-label">ISBN o Título del Material</label>
                <div class="col-sm-8">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="Ej. 978-XXXXXXX o Cien Años de Soledad">
                  </mat-form-field>
                </div>
            </div>
            <div class="row">
                <label class="col-sm-4 col-form-label">ID o Nombre del Solicitante</label>
                <div class="col-sm-8">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="Ej. J-12345678 o Juan Pérez">
                  </mat-form-field>
                </div>
            </div>
            <div class="text-center mt-4">
                 <button mat-raised-button class="btn btn-primary">
                    <i class="material-icons">search</i> Buscar Disponibilidad
                </button>
            </div>
        </form>
        <hr>
        <div class="alert alert-warning mt-4 text-center">
            El ejemplar está actualmente Prestado. ¿Desea crear la reserva?
        </div>
      </div>

      <div class="modal-footer">
        <button mat-raised-button type="button" class="btn btn-success btn-link">
          <i class="material-icons">add_box</i> Confirmar Reserva
        </button>
        <button mat-raised-button type="button" class="btn btn-danger btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>