<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon d-flex justify-content-between">
            <div class="w-100">
              <div class="card-icon">
                <i class="material-icons">add</i>
              </div>
              <h4 class="card-title">Inventario de Ejemplares</h4>
            </div>
            <div class="mt-2 d-flex">
              <button mat-raised-button mat-min-fab class="btn btn-primary btn-round btn-fab mr-2">
                <i class="material-icons material-icons">download</i>
              </button>
            </div>
          </div>

          <div class="card-body">
            <div class="toolbar">
              </div>
            
            <div class="material-datatables">
              <table id="datatablesInventario" class="table table-striped table-no-bordered table-hover" cellspacing="0"
                width="100%" style="width:100%">
                <thead>
                  <tr>
                    <th>{{ dataTable.headerRow[0] }}</th>
                    <th>{{ dataTable.headerRow[1] }}</th>
                    <th>{{ dataTable.headerRow[2] }}</th>
                    <th>{{ dataTable.headerRow[3] }}</th>
                    <th class="disabled-sorting text-right">{{ dataTable.headerRow[4] }}</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>{{ dataTable.footerRow[0] }}</th>
                    <th>{{ dataTable.footerRow[1] }}</th>
                    <th>{{ dataTable.footerRow[2] }}</th>
                    <th>{{ dataTable.footerRow[3] }}</th>
                    <th class="text-right">{{ dataTable.footerRow[4] }}</th>
                  </tr>
                </tfoot>
                <tbody>
                  </tbody>
              </table>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" *ngIf="selectedEjemplar">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Detalle y Gestión del Ejemplar</h4>
        <button mat-button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="material-icons">clear</i>
        </button>
      </div>
      <div class="modal-body">
        <form method="get" action="/" class="form-horizontal">
          
          <h5 class="text-primary mt-0 mb-3">1. Datos de la Obra</h5>
          
          <div class="row">
            <label class="col-sm-3 col-form-label">ID Inventario / Cód. Barras</label>
            <div class="col-sm-9">
              <mat-form-field class="example-full-width">
                <input matInput type="text" [value]="selectedEjemplar.id" readonly>
              </mat-form-field>
            </div>
          </div>
          
          <div class="row">
            <label class="col-sm-3 col-form-label">Título</label>
            <div class="col-sm-9">
              <mat-form-field class="example-full-width">
                <input matInput type="text" [value]="selectedEjemplar.titulo" readonly>
              </mat-form-field>
            </div>
          </div>
          
          <div class="row">
            <label class="col-sm-3 col-form-label">Autor(es) / Editorial</label>
            <div class="col-sm-9">
              <mat-form-field class="example-full-width">
                <input matInput type="text" [value]="selectedEjemplar.autor" readonly>
              </mat-form-field>
            </div>
          </div>
          
          <hr class="mt-4 mb-4">

          <h5 class="text-primary">2. Ubicación y Condición</h5>
          
          <div class="row">
            <label class="col-sm-3 col-form-label">Clasificación (Cota)</label>
            <div class="col-sm-3">
              <mat-form-field class="example-full-width">
                <input matInput type="text" [value]="selectedEjemplar.clasificacion" placeholder="Dewey/Cutter">
              </mat-form-field>
            </div>
            
            <label class="col-sm-3 col-form-label">Ubicación Física</label>
            <div class="col-sm-3">
              <mat-form-field class="example-full-width">
                <mat-select [value]="selectedEjemplar.ubicacionFisica" placeholder="Seleccionar ubicación">
                  <mat-option value="Sala Principal">Sala Principal</mat-option>
                  <mat-option value="Depósito">Depósito</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <label class="col-sm-3 col-form-label">Estante / Peldaño</label>
            <div class="col-sm-9">
              <mat-form-field class="example-full-width">
                <input matInput type="text" [value]="selectedEjemplar.estantePeldano" placeholder="Ej: A-3, P-2">
              </mat-form-field>
            </div>
          </div>
          
          <div class="row">
            <label class="col-sm-3 col-form-label">Condición Actual</label>
            <div class="col-sm-9">
              <mat-radio-button value="Excelente" name="condicion" [checked]="selectedEjemplar.condicionActual === 'Excelente'">Excelente</mat-radio-button>
              <br>
              <mat-radio-button value="Deterioro moderado" name="condicion" [checked]="selectedEjemplar.condicionActual === 'Deterioro moderado'">Deterioro moderado</mat-radio-button>
              <br>
              <mat-radio-button value="Mal estado" name="condicion" [checked]="selectedEjemplar.condicionActual === 'Mal estado'">Mal estado</mat-radio-button>
            </div>
          </div>

          <div class="row mt-4">
            <label class="col-sm-3 col-form-label">Observaciones</label>
            <div class="col-sm-9">
              <mat-form-field class="example-full-width">
               <textarea matInput placeholder="Notas de mantenimiento o cambios de ubicación...">{{ selectedEjemplar.observaciones }}</textarea>
              </mat-form-field> 
            </div>
          </div>
          
          <hr class="mt-4 mb-4">

          <h5 class="text-primary">3. Estado y Movimiento</h5>

          <div class="row">
            <label class="col-sm-3 col-form-label">Status Actual</label>
            <div class="col-sm-9">
              <p class="mt-2">
                <span class="badge fs-6" 
                      [ngClass]="{
                        'badge-success': selectedEjemplar.status === 'Disponible',
                        'badge-warning': selectedEjemplar.status === 'Prestado',
                        'badge-danger': selectedEjemplar.status === 'Desincorporado'
                      }">
                  {{ selectedEjemplar.status | uppercase }}
                </span>
              </p>
            </div>
          </div>

          <ng-container *ngIf="selectedEjemplar.status === 'Prestado'">
              <div class="row">
                <label class="col-sm-3 col-form-label text-warning">Prestado a</label>
                <div class="col-sm-9">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" [value]="selectedEjemplar.prestamo?.usuario + ' / ' + selectedEjemplar.prestamo?.cedula" readonly>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <label class="col-sm-3 col-form-label text-warning">F. Esperada / Condición al salir</label>
                <div class="col-sm-9">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" [value]="selectedEjemplar.prestamo?.fechaEsperada + ' / ' + selectedEjemplar.prestamo?.condicionSalida" readonly>
                  </mat-form-field>
                </div>
              </div>
          </ng-container>
          
        </form>
      </div>
      <div class="modal-footer d-flex justify-content-between">
        <button mat-raised-button type="button" class="btn btn-warning btn-link" 
                *ngIf="selectedEjemplar.status !== 'Desincorporado' && selectedEjemplar.status !== 'Prestado'">
          Desincorporar
        </button>

        <div>
          <button mat-raised-button type="button" class="btn btn-primary btn-link">Guardar Cambios</button>
          
          <button mat-raised-button type="button" class="btn btn-success btn-link" 
                  *ngIf="selectedEjemplar.status === 'Prestado'">
            Registrar Devolución
          </button>
          
          <button mat-raised-button type="button" class="btn btn-success btn-link" 
                  *ngIf="selectedEjemplar.status === 'Disponible'">
            Registrar Nuevo Préstamo
          </button>
          
          <button mat-raised-button type="button" class="btn btn-danger btn-link" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>