<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assessment</i>
            </div>
            <h4 class="card-title">Generador de Reportes Centralizado</h4>
          </div>

          <div class="card-body">
            
            <div class="nav-align-center">
                <ul class="nav nav-pills nav-pills-primary justify-content-around" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" [class.active]="selectedReporte === 'inventario'" (click)="selectedReporte = 'inventario'" role="tab" data-toggle="tab">
                            <i class="material-icons">book</i> Inventario
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [class.active]="selectedReporte === 'prestamos'" (click)="selectedReporte = 'prestamos'" role="tab" data-toggle="tab">
                            <i class="material-icons">people</i> Préstamos
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [class.active]="selectedReporte === 'mantenimiento'" (click)="selectedReporte = 'mantenimiento'" role="tab" data-toggle="tab">
                            <i class="material-icons">build</i> Mantenimiento/Baja
                        </a>
                    </li>
                </ul>
            </div>
            
            <hr>

            <div class="row mb-4">
                <div class="col-md-3">
                    <label>Fecha Inicio</label>
                    <mat-form-field class="example-full-width">
                        <input matInput [matDatepicker]="pickerStart" placeholder="Seleccionar" [(ngModel)]="fechaInicio">
                        <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                        <mat-datepicker #pickerStart></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <label>Fecha Fin</label>
                    <mat-form-field class="example-full-width">
                        <input matInput [matDatepicker]="pickerEnd" placeholder="Seleccionar" [(ngModel)]="fechaFin">
                        <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                        <mat-datepicker #pickerEnd></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <label>Estado</label>
                    <mat-form-field class="example-full-width">
                        <mat-select [(ngModel)]="filtroEstado">
                            <mat-option value="Todos">Todos</mat-option>
                            <mat-option *ngIf="selectedReporte === 'inventario'" value="Disponible">Disponible</mat-option>
                            <mat-option *ngIf="selectedReporte === 'inventario'" value="Prestado">Prestado</mat-option>
                            
                            <mat-option *ngIf="selectedReporte === 'prestamos'" value="Activo">Activo</mat-option>
                            <mat-option *ngIf="selectedReporte === 'prestamos'" value="Vencido">Vencido</mat-option>

                            <mat-option *ngIf="selectedReporte === 'mantenimiento'" value="En Mantenimiento">En Mantenimiento</mat-option>
                            <mat-option *ngIf="selectedReporte === 'mantenimiento'" value="Desincorporado">Desincorporado</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-3 d-flex align-items-center justify-content-end">
                    <button mat-raised-button class="btn btn-primary" (click)="applyFilters()">
                        <i class="material-icons">search</i> Aplicar Filtros
                    </button>
                </div>
            </div>

            <hr>

            <div class="tab-content tab-space">
                <h3>Reporte de {{ selectedReporte | uppercase }}</h3>

                <div class="d-flex justify-content-end mb-3">
                    <button mat-raised-button class="btn btn-info mr-2" (click)="downloadReport('pdf')">
                        <i class="material-icons">picture_as_pdf</i> Descargar PDF
                    </button>
                    <button mat-raised-button class="btn btn-success" (click)="downloadReport('excel')">
                        <i class="material-icons">grid_on</i> Descargar Excel
                    </button>
                </div>

                <div class="material-datatables">
                    <table class="table table-striped table-no-bordered table-hover" width="100%">
                        
                        <ng-container *ngIf="selectedReporte === 'inventario'">
                            <thead>
                                <tr>
                                    <th *ngFor="let header of inventoryHeaders">{{ header }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of reportesData.inventario">
                                    <td>{{ row.id }}</td>
                                    <td>{{ row.isbn }}</td>
                                    <td>{{ row.titulo }}</td>
                                    <td>{{ row.autor }}</td>
                                    <td>{{ row.status }}</td>
                                    <td>{{ row.estadoFisico }}</td>
                                </tr>
                            </tbody>
                        </ng-container>

                        <ng-container *ngIf="selectedReporte === 'prestamos'">
                            <thead>
                                <tr>
                                    <th *ngFor="let header of prestamosHeaders">{{ header }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of reportesData.prestamos">
                                    <td>{{ row.id }}</td>
                                    <td>{{ row.titulo }}</td>
                                    <td>{{ row.solicitante }}</td>
                                    <td>{{ row.status }}</td>
                                    <td>{{ row.fechaPrestamo }}</td>
                                    <td>{{ row.fechaDevolucion }}</td>
                                </tr>
                            </tbody>
                        </ng-container>

                        <ng-container *ngIf="selectedReporte === 'mantenimiento'">
                            <thead>
                                <tr>
                                    <th *ngFor="let header of mantenimientoHeaders">{{ header }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of reportesData.mantenimiento">
                                    <td>{{ row.id }}</td>
                                    <td>{{ row.titulo }}</td>
                                    <td>{{ row.estadoMaterial }}</td>
                                    <td>{{ row.status }}</td>
                                    <td>{{ row.fechaProceso }}</td>
                                    <td>{{ row.costo | currency:'BSF':'symbol':'1.2-2' }}</td>
                                </tr>
                            </tbody>
                        </ng-container>

                    </table>
                </div>
                
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>