<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">

          <div class="card-header card-header-primary card-header-icon  d-flex justify-content-between">
            <div class="w-100">
              <div class="card-icon">
                <i class="material-icons">add</i>
              </div>
              <h4 class="card-title">DASHBOARD DE PRESATMOS</h4>
            </div>
            <div class="mt-2 d-flex">
              <button mat-raised-button mat-min-fab class="btn btn-primary btn-round btn-fab mr-2">
                <i class="material-icons material-icons pl-2 pt-1">download</i>
              </button>
              <button mat-raised-button mat-min-fab class="btn btn-primary btn-round btn-fab mr-2">
                <i class="material-icons material-icons pl-2 pt-1">favorite</i>
              </button>
              <button mat-raised-button mat-min-fab class="btn btn-primary btn-round btn-fab mr-2">
                <i class="material-icons material-icons pl-2 pt-1">download</i>
              </button>
            </div>
          </div>

          <div class="card-body">
            <div class="container">





            </div>
          </div>
          <!-- end content-->
        </div>
        <!--  end card  -->
      </div>
      <!-- end col-md-12 -->
    </div>
    <!-- end row -->
  </div>
</div>