<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon  d-flex justify-content-between">

            <div class="w-100">
              <div class="card-icon">
                <i class="material-icons">assignment</i>
              </div>
              <h4 class="card-title">Adquisiciones</h4>
            </div>

            <div class="mt-2 d-flex">
              <button mat-raised-button mat-min-fab class="btn btn-primary btn-round btn-fab mr-2">
                <i class="material-icons material-icons">download</i>
              </button>
            </div>

          </div>
          <div class="card-body">
            <div class="toolbar">
              <!--        Here you can write extra buttons/actions for the toolbar              -->
            </div>
            <div class="material-datatables">
              <table id="datatablesAdquisiciones" class="table table-striped table-no-bordered table-hover"
                cellspacing="0" width="100%" style="width:100%">
                <thead>
                  <tr>
                    <th>{{ dataTable.headerRow[0] }}</th>
                    <th>{{ dataTable.headerRow[1] }}</th>
                    <th>{{ dataTable.headerRow[2] }}</th>
                    <th>{{ dataTable.headerRow[3] }}</th>
                    <th>{{ dataTable.headerRow[4] }}</th>
                    <th class="disabled-sorting text-right">{{ dataTable.headerRow[5] }}</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>{{ dataTable.footerRow[0] }}</th>
                    <th>{{ dataTable.footerRow[1] }}</th>
                    <th>{{ dataTable.footerRow[2] }}</th>
                    <th>{{ dataTable.footerRow[3] }}</th>
                    <th>{{ dataTable.footerRow[4] }}</th>
                    <th class="text-right">{{ dataTable.footerRow[5] }}</th>
                  </tr>
                </tfoot>
                <tbody>
                  <!-- <tr *ngFor="let row of dataTable.dataRows">
                    <td>{{row[0]}}</td>
                    <td>{{row[1]}}</td>
                    <td>{{row[2]}}</td>
                    <td>{{row[3]}}</td>
                    <td>{{row[4]}}</td>
                    <td class="text-right">
                      <a href="javascript:void(0)" class="btn btn-link btn-info btn-just-icon like"><i
                          class="material-icons">favorite</i></a>
                      <a href="javascript:void(0" class="btn btn-link btn-warning btn-just-icon edit"><i
                          class="material-icons">dvr</i></a>
                      <a href="javascript:void(0s" class="btn btn-link btn-danger btn-just-icon remove"><i
                          class="material-icons">close</i></a>
                    </td>
                  </tr> -->
                </tbody>
              </table>
            </div>
          </div>
          <!-- end content-->
        </div>
        <!--  end card  -->
      </div>
      <!-- end col-md-12 -->
    </div>
    <!-- end row -->
  </div>
</div>


<!-- add item Modal -->
<div class="modal fade" id="myModalAddItem" tabindex="-1" role="dialog" aria-labelledby="myModalAddItem" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Registrar Nuevo Ejemplar</h4>
        <button mat-button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="material-icons">clear</i>
        </button>
      </div>
      <div class="modal-body">
        <form method="get" action="/" class="form-horizontal">
          
          <div class="row">
            <label class="col-sm-2 col-form-label">Título de la Obra</label>
            <div class="col-sm-10">
              <mat-form-field class="example-full-width">
                <input matInput type="text" value="El Proceso Electoral Moderno..." readonly>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <label class="col-sm-2 col-form-label">ISBN / Autor(es)</label>
            <div class="col-sm-10">
              <mat-form-field class="example-full-width">
                <input matInput type="text" value="978-980-00-1234-5 / Juan Pérez" readonly>
              </mat-form-field>
            </div>
          </div>

          <hr class="mt-3 mb-4">
          
          <div class="row">
            <label class="col-sm-2 col-form-label">ID Inventario / Cód. Barras</label>
            <div class="col-sm-10">
              <mat-form-field class="example-full-width">
                <input matInput type="text" placeholder="Ingresa o escanea el código">
              </mat-form-field>
            </div>
          </div>
          
          <div class="row">
            <label class="col-sm-2 col-form-label">Fecha de Adquisición</label>
            <div class="col-sm-4">
              <mat-form-field>
                <input matInput [matDatepicker]="acqPicker" placeholder="Selecciona la fecha" (click)="acqPicker.open()">
                <mat-datepicker-toggle matSuffix [for]="acqPicker"></mat-datepicker-toggle>
                <mat-datepicker #acqPicker></mat-datepicker>
              </mat-form-field>
            </div>
            
            <label class="col-sm-2 col-form-label">Método Adquisición</label>
            <div class="col-sm-4">
              <mat-form-field>
                <mat-select placeholder="Seleccionar método">
                  <mat-option value="compra">Compra</mat-option>
                  <mat-option value="donacion">Donación</mat-option>
                  <mat-option value="canje">Canje</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          
          <div class="row">
            <label class="col-sm-2 col-form-label">Fuente de Adquisición</label>
            <div class="col-sm-10">
              <mat-form-field class="example-full-width">
                <input matInput type="text" placeholder="Nombre de la persona o entidad">
              </mat-form-field>
            </div>
          </div>

          <hr class="mt-3 mb-4">
          
          <div class="row">
            <label class="col-sm-2 col-form-label">Ubicación (Cota/Clasif.)</label>
            <div class="col-sm-4">
              <mat-form-field class="example-full-width">
                <input matInput type="text" placeholder="Ej: DERECHO 342.7 P374e">
              </mat-form-field>
            </div>
            
            <label class="col-sm-2 col-form-label">Ubicación Física</label>
            <div class="col-sm-4">
              <mat-form-field>
                <mat-select placeholder="Sala/Depósito">
                  <mat-option value="sala_1">Sala Principal</mat-option>
                  <mat-option value="deposito">Depósito</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          
          <div class="row">
            <label class="col-sm-2 col-form-label">Condición Inicial</label>
            <div class="col-sm-10">
              <mat-radio-button value="nuevo" name="condicion">Nuevo</mat-radio-button>
              <br>
              <mat-radio-button value="usado_bueno" name="condicion">Usado - Buen estado</mat-radio-button>
              <br>
              <mat-radio-button value="usado_regular" name="condicion">Usado - Condición regular</mat-radio-button>
            </div>
          </div>

          <div class="row mt-4">
            <label class="col-sm-2 col-form-label">Observaciones</label>
            <div class="col-sm-10">
              <mat-form-field class="example-full-width">
               <textarea matInput placeholder="Notas relevantes sobre la adquisición o el estado inicial..."></textarea>
              </mat-form-field> 
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button mat-raised-button type="button" class="btn btn-primary btn-link">Guardar Ejemplar</button>
        <button mat-raised-button type="button" class="btn btn-danger btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- create ord compra Modal -->
<!-- <div class="modal fade" id="myModalCrearteOrdCompra" tabindex="-1" role="dialog" aria-labelledby="myModalCrearteOrdCompra" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Crear orden de compra</h4>
        <button mat-button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="material-icons">clear</i>
        </button>
      </div>
      <div class="modal-body">
        <form method="get" action="/" class="form-horizontal">


        </form>
      </div>
      <div class="modal-footer">
        <button mat-raised-button type="button" class="btn btn-primary btn-link">Guardar</button>
        <button mat-raised-button type="button" class="btn btn-danger btn-link" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div> -->